<section class="work section">
  <div class="container">
    <h2 class="work-title">Чим ми займаємося</h2>
    <ul class="working list">
      <li>
        <div class="work-wrap">
          <img src="./images/application.jpg" alt="програмування" width="370" />
          <p class="work-list-text">Десктопні додатки</p>
        </div>
      </li>
      <li>
        <div class="work-wrap">
          <img src="./images/application.jpg" alt="аплікація" width="370" />
          <p class="work-list-text">Мобільні додатки</p>
        </div>
      </li>
      <li>
        <div class="work-wrap">
          <img src="./images/application.jpg" alt="фотошоп" width="370" />
          <p class="work-list-text">Дизайнерські рішення</p>
        </div>
      </li>
    </ul>
  </div>
</section>
